.container-footer-responsive{
    display: none;
}

.section-footer {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 70px 0;
    padding-left: 25px;
    padding-right: 25px;
}

.main-footer {
    background-color: #ffffff;
    padding: 20px 0;
    margin-top: 80px;
}

.footer-data {
    text-align: center;
}

.footer-data i {
    color: var(--light-blue);
    font-size: 3.5em;
}

.footer-data h2 {
    color: var(--gray);
    font-size: 1.4em;
    font-weight: 400;
}

.footer-data p {
    color: var(--gray);
    font-size: 1.0em;
    font-weight: 300;
}

.sub-footer {
    border-top: 1px solid var(--light-gray);
    background-color: #ffffff;
}

.sub-footer p {
    margin: 0;
    color: var(--gray);
    padding: 15px 0;
}

@media (max-width: 850px) {
    .container-footer-escritorio{
        display: none ;
    }

    .container-footer-responsive{
        display: block;
    }

    .footer-carrousel_lista::-webkit-scrollbar{
        display: none;
    }

    .footer-indicadores .glider-dot{
        margin-top: 30px;
        width: 8px;
        height: 8px;
    }

    .footer-indicadores .glider-dot.active{
        background-color: #1259C3;
    }
}