.nav-main  {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    /* Sobre escribe los pixels del body*/
    font-size: 27px;
    /* Afecta a las clases que abarca, 3 Imagen y las 2 listas*/
    display: flex;
    justify-content:space-between;
    height: 90px;
    padding: 20px 0;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 5px 0px #999;
    z-index: 15;
}

/* BUSCADOR */
.nav-main-busqueda{
    display: flex;
    justify-content: space-between;
}

.header__form{
    display: flex;
    width: 100%;
}

.header__select{
    border: solid 1px rgb(197, 191, 191);
    background-color: #fff;
    border-radius: 5px 0 0 5px ;
}

.input__search{
    display: inline-block;
    width: 500px;
    height: 30px;
    font-size: 14px;
    border: solid 1px rgb(197, 191, 191);
    border-left: none;
    border-right: none;
    padding: 6px;
    flex: 1;
    padding-left: 25px;
}
.header__lupa{
    padding: 5px;
    cursor: pointer;
    border-radius: 0;
    border: solid 1px rgb(197, 191, 191);
    margin: 0;
    border-radius: 0 5px 5px 0;
}

/* --- */

.carrito_nav{
    position: relative;
    cursor: pointer;
}

.carrito_contador{
    position: absolute;
    z-index: 2;
    content: '2';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    top: -.5rem;
    right: -.2rem;
    width: 1rem;
    height: 1rem;
    background-color: rgb(90, 241, 20);
    border-radius: 50%;
}

  /* Achico la imagen a 100 pixel */
.nav-brand {
    background-color: chocolate;
    height: 90px;
    cursor: pointer;
}

/* Se cre un flex para que las LI estén horizontales*/
.nav-main ul  {
    display: flex;
}

.nav-main-iconos{
    padding-right: 15px;
    position: relative;
}

.nav-main-iconos li{
    margin-left: 15px;
    position: relative;
}

@media (max-width: 850px) {
    .nav-main{
        max-width: 100%;
        left: 0;
        height: 50px;
    }

    .nav-brand {
        height: 50px;
    }

    /* Buscador */
    .nav-main-busqueda{
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
    }
    
    .header__form{
        display: flex;
        width: 100%;
    }
    
    .header__select{
        border: solid 1px rgb(197, 191, 191);
        background-color: #fff;
        border-radius: 5px 0 0 5px ;
    }
    
    .input__search{
        display: inline-block;
        width: 500px;
        height: 30px;
        font-size: 14px;
        border: solid 1px rgb(197, 191, 191);
        border-left: none;
        border-right: none;
        padding: 6px;
        flex: 1;
        padding-left: 25px;
    }
    .header__lupa{
        padding: 5px;
        cursor: pointer;
        border-radius: 0;
        border: solid 1px rgb(197, 191, 191);
        margin: 0;
        border-radius: 0 5px 5px 0;
    }
}