
/* Los a en blanco y sin el underline*/
.nav-main  {
    background-color: #ffffff;
    /* Sobre escribe los pixels del body*/
    font-size: 27px;
    /* Afecta a las clases que abarca, 3 Imagen y las 2 listas*/
    display: flex;
    justify-content:space-between;
    height: 90px;
    padding: 20px 0;
    align-items: center;
    position: relative;
}

.nav-main-busqueda  {
    font-size: 27px;
    display: flex;
    justify-content: space-between;
}

.carrito_nav{
    position: relative;
    cursor: pointer;
}

.carrito_contador{
    position: absolute;
    z-index: 2;
    content: '2';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    top: -.5rem;
    right: -.2rem;
    width: 1rem;
    height: 1rem;
    background-color: rgb(90, 241, 20);
    border-radius: 50%;
}

.input__search{
    width:400px;
    height: 30px;
    font-size: 14px;
    border: solid 2px rgb(197, 191, 191);
    padding: 6px;
    border-radius: 5px;
    text-align: center;
    margin-right:7px ;
    margin-left:7px ;
}

  /* Achico la imagen a 100 pixel */
.nav-brand {
    background-color: chocolate;
    width: 90px;
}

/* Se cre un flex para que las LI estén horizontales*/
.nav-main ul  {
    display: flex;
}

.nav-main-iconos{
    padding-right: 15px;
    position: relative;
}

.nav-main-iconos li{
    margin-left: 15px;
    position: relative;
}