.product_main{
    margin-bottom: 40px;
    margin-top: 15px;
}

.links_redirect a{
    color: rgb(104, 127, 233);
}
.links_redirect i{
    color: #aaa;
}

.product_container{
    display: flex;
    background-color: rgb(241, 247, 247);
    padding: 15px;
    margin-top: 15px;
}

.product__img-container{
    width: 60%;
}

.product__img-container img{
    border-radius: 5px;
    width: 100%;
}

.product__info-container{
    width: 40%;
    padding: 0 35px;
}

.product__info-container p{
    margin-bottom: 15px;
}

.price_product{
    font-size: 2rem;
    color: #59b42f;
}

.add_to_cart-container label{
    font-weight: 900;
}
.add_to_cart-container input{
    width: 50px;
}

.action-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.add_cart_btn{
    background-color: rgb(104, 238, 137);
    color: #000;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    font-size: 1rem;
}

.buy_now_btn{
    background-color: rgb(18, 89, 195);
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    font-size: 1rem;
}